<h2>AssertionConsumerService</h2>


<table cellspacing="5" cellpadding="5" style="table-layout: fixed; width: 100%; border: 1px solid black;">
    <tr>
        <td valign="top" style="width: 20%; border: 1px solid black;">sessionIndex</td>
        <td style="word-wrap: break-word; border: 1px solid black;">@ViewData["sessionIndex"]</td>
    </tr>
    <tr>
        <td valign="top" style="width: 20%; border: 1px solid black;">maxEmailValue</td>
        <td style="word-wrap: break-word; border: 1px solid black;">@ViewData["maxEmailValue"]</td>
    </tr>
</table>