@{
    ViewData["Title"] = "FAQ";
}

<h3>Frequently Asked Questions</h3>
<dl style="margin-top:15px;">
    <dt style="margin-top:15px;">What is VLTP?</dt>
    <dd style="margin-left:20px;">The Voluntary Leave Transfer Program (VLTP) is an application that allows Government employees, payrolled by GSA, to donate leave to other Government employees.</dd>
    <dt style="margin-top:15px;">How do I obtain access to VLTP?</dt>
    <dd style="margin-left:20px;">VLTP utilizes the MAX.gov authentication process to validate users. If a Government employee has a valid MAX.gov account and is payrolled by GSA, they may donate using VLTP.</dd>
    <dt style="margin-top:15px;">Who can receive donations?</dt>
    <dd>
        <ol>
            <li>Government employees who, through their Human Resources system, have submitted and been approved to receive leave donations. </li>
            <li>Leave banks set up for approved special circumstances such as disaster relief efforts for hurricanes.</li>
        </ol>
    </dd>
    <dt style="margin-top:15px;">To whom may I donate?</dt>
    <dd style="margin-left:20px;">You may donate directly to an approved Government employee or leave bank. VLTP will only display approved recipients.</dd>
    <dt style="margin-top:15px;">Can I donate to employees of another agency or organization?</dt>
    <dd style="margin-left:20px;">Yes. You may donate to any of the listed agencies, organizations or leave banks.</dd>
</dl>
