<h2 style="margin-bottom:15px;">Help:</h2>
<!--
<address>
    Most questions can be answered by viewing the<a class="urs-link" asp-area="" asp-controller="Home" asp-action="About"><strong>FAQ</strong></a>page.
</address>
<address>
    See the <a href="~/pdf/UserGuide.pdf" target="_blank"><strong>User Guide</strong></a> for questions on how to use this website.
</address>
-->
<address>
    Most questions can be answered by viewing the FAQ page:
    <ul>
        <li>
            <a class="urs-link" asp-area="" asp-controller="Home" asp-action="Faq">FAQ page</a>
        </li>
    </ul>
</address>
<address>
    See the User Guide for questions on how to use this website:
    <ul>
        <li>
            <a href="~/pdf/UserGuide.pdf" target="_blank">User Guide</a>
        </li>
    </ul>
</address>
<address>
    To report application issues, please contact the Business Applications Service Desk:
    <ul>
        <li><a href='mailto:businessapps@gsa.gov' target="_blank" style="font-size: .95em">BusinessApps@gsa.gov</a></li>
        <li><a href="tel:8664506588" style="font-size: .95em">866-450-6588</a></li>
    </ul>
</address>
<address>
    For questions pertaining to policy or leave, please contact the Payroll Service Desk:
    <ul>
        <li><a href='mailto:kc-payroll.finance@gsa.gov' target="_blank" style="font-size: .95em">KC-Payroll.Finance@gsa.gov </a></li>
    </ul>
</address>



