* {
  font-size: 14px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-top:12.5px;
  background-color:#333333;
  color: #004f87;
}

a {
  color: #af3639;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #004f87;
  font-size: large;
}

div.urs-body-content {
  width:90%;
  min-height: 65vh;
  margin-top:15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
}

div.urs-outer-container {
  width:80%;
  margin: 7px auto; 
  background-color:#FFF;
}

.urs-navbar {
  width:100%;
  min-height: 7vh;
  background-color:#e0e6eb;
  border-bottom: 4px solid #af3639;
}

.urs-navbar-brand {
  margin-right:0px;
}

.urs-nav-link-brand {
  color:#004f87 !important;
  padding-top:19px;
  font-weight:bold;
  font-size:medium;
}

.urs-nav-link {
  color:#004f87 !important;
  padding-top:19px;
  font-size:medium;
}

h3.footer-logo {
  color: #004f87;
  padding: 68px 0 0 77px;
  background: url(https://www.gsa.gov/sites/gsa.gov/templates/resources/images/footer-logo.png) no-repeat -1px 97%;
  background-size: auto 70px;
  /* font-size: 17px; */
  font-size: large;
  font-weight: bold;
  border: none;
}

.img-responsive {
   max-width: 100%;
  height: auto;
} 

.display-inline {
  display: inline-block;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

p.urs-instructions {
  color:#006db6;
  text-align: center;
  margin-top: 1.4rem;
}

a.urs-link {
  color:#af3639;
  padding: 5px; 
}

a.urs-link-box {
  color:#af3639;
  padding: 5.5px; 
  border: 1px solid #af3639;
}

a.urs-error-box {
  color:#004f87;
  padding: 5px; 
  border: 1px solid #004f87;
}
.urs_error_text {
  color:#af3639;
}

.urs-welcome-title {
  color: #006db6;
  margin-top: 1rem;
  text-align: center;
}

.urs-program-title {
  color: #006db6;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.urs-program-text {
  color:#004f87;
}
.urs-welcome-text {
  color:#004f87;
}

a.program-link {
  color:#af3639;
}

footer {
  width:100%;
  min-height: 11vh;
  background-color:#e0e6eb;
  border-top: 4px solid #af3639;
}

ul.footer-links {
  list-style-type: none;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  text-align: right;
}

ul.footer-links li {
  display: inline;
  margin-right: 1px;
}

ul.footer-links li a {
  color:#004f87;
  font-size: small;
}

div.footer-outer-div { 
  width: 100%;
  height: 125px;   
  height: 110px;  
  height: 100px;   
  padding-top: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
}

div.footer-inner-div-left {
  width: 50%;
  float:left;
  padding-left: 1rem;
}

div.footer-inner-div-right {
  width: 50%;
  float:right;
  padding-right: 1rem;
  text-align: right; 
  padding-top: 68px;
 }

button.urs-btn-primary {
  color: #FFF;
  background-color: #006db6;
  border-color:  #006db6;
}

p.urs-link-paragraph {
  margin-top: 25px;
}

h2, .h2 { font-size: 30px; }
h4, .h4 { font-size: 18px; }
li {font-size: 14px;} 
label {font-weight:bold;}

